@keyframes toBottomFromTop {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

html, body {
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
    padding: 0;
}
.container-fluid.repo-section {
    background: #191919;
    padding-bottom: 3em;
}

.table.table-dark.repo-table {
    background: #191919;
}

.repo-link, .title-col > a {
    color: #fff;
}

.repo-link:hover, .title-col > a:hover {
    color: #ff1744;
    text-decoration: none;
}

.album {
    background: #fff;
    padding-bottom: 2.5em;
}

.card-title > a {
    color: #000;
}

.card-title > a:hover {
    color: #ff1744;
    text-decoration: none;
}

.custom-view-button > a {
    color: #000;
}

.custom-view-button > a:hover {
    color: #fff;
    text-decoration: none;
}
.btn.btn-sm.custom-view-button {
    background: transparent;
    border-radius: 0;
    color: #000;
    border: 1px solid #555;
    font-size: 11pt;
    padding: 0.15em 0.45em;
    outline: 0;
    cursor: pointer;
    box-sizing: inherit;
    transition: all 0.5s;
}

.btn.btn-sm.custom-view-button:hover {
    background: #222;
    border-color: #222;
    
}
.btn.btn-sm.custom-view-button:hover > a {
    color: #fff;
}

.card-text.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 25px;
    height: 100px;  
    overflow: hidden;
    text-overflow: ellipsis;
}

h1.h1.blog-title {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

h1.h1.contact-title {
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-transform: uppercase;
}
.h1.repos-title {
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .contact-form {
    padding-left: 4em !important;
    padding-right: 4em !important;
    }
}

.contact-form {
    padding-bottom: 4em;
}

.submit-button {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    float: right;
    font-size: 12pt;
    padding: 0.5em 1.5em;
    outline: 0;
    cursor: pointer;
    box-sizing: inherit;
    transition: all 0.5s;
}

.submit-button:hover {
    background: #ff1744;
}

.message-area {
    min-height: 7em;
}


.first-row {
    margin-bottom: 1em;
}

.form-control.custom-input {
    border-radius: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    box-sizing: inherit;
}

.form-control.custom-input:focus {
    color: #000;
    outline: none;
    box-shadow: none;
    border: 0;
}

.footer {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 4em;
}

.btn-social {
    text-align: center  !important;
    padding: 1.5em !important;
    margin-left: 2em;
}

.fa {
    padding: 0;
    text-align: center  !important;
    margin: 0;
    border-right: 0px !important;
}

.footer-title {

    color: #fff;
    margin-bottom: 1em;
}

div.textColored {
    display: inline;
    color: #ff1744;
}
.footerCopyright {
    margin-top: 2em;
    color: #888;
    padding: 3em;
}

.flex.row {
    flex-direction: row;
    padding-bottom: 2em;
    margin-left: 0;
}

.flex {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.icon {
    color: #fff;
    cursor: pointer;
    background: #262f38;
    font-size: 18pt;
    height: 55px;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 55px;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.icon:hover {
    transform: scale(0.9);
}

.icon:hover .fa {
    animation: toBottomFromTop 0.3s forwards;
}

#icon-fb:hover {
    background: #3b5998;
    box-shadow: 0 0 0 3px rgba(59, 89, 152, 0.1);
}

#icon-tt:hover {
    background: #00ACEE;
    box-shadow: 0 0 0 3px rgba(0, 172, 238, 0.1);
}

#icon-linkedin:hover {
    background: #04669A;
    box-shadow: 0 0 0 3px rgba(4, 102, 154, 0.1);
}

#icon-github:hover {
    background: #040204;
    box-shadow: 0 0 0 3px rgba(4, 2, 4, 0.1);
}

.footer > .row > a:hover {
    text-decoration: none;
}
